@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Pattaya&display=swap');

.main-header{
  text-transform: uppercase;
  margin-top: 2rem;
  font-family: 'Pattaya', sans-serif;
}

.main-header-p{
  font-family: 'Marck Script', cursive;
  font-size: 1.4em;
}

